* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 140vh;
    text-align: center;
}

.image-container {
    height: 60%;
    margin: 5rem auto;
    width: 75%;
}

img {
    object-fit: cover;
    height: 110%;
    width: 100%;
}
